{% extends "template.html" %}


{% block top_content %}

    <!--<div id="carousel-example-generic" class="carousel slide" style="margin-bottom:0px;width:960px" data-ride="carousel">-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="4"></li>-->
        <!--</ol>-->

        <!-- Wrapper for slides -->
        <!--<div class="carousel-inner"  style="width:960px">-->
        <div class="carousel-inner">
            <div class="item active">
                <!--<img src="../static/images/banners/temp_prawns.jpeg" alt="">-->

                <!--<img src="../static/images/stock-photo-48806970-two-dishes-with-vegetables-and-seafood.jpg" alt="">-->
                <img src="../static/images/stock-photo-12399297-stir-fried-chicken.jpg" alt="">

                <div class="carousel-caption"></div>
            </div>
        </div>

        <!-- Slide controls -->
        <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--</a>-->
    </div>

{% endblock %}


{% block content %}

    <!--&lt;!&ndash; Desktop view &ndash;&gt;-->
    <!--<div class="row hidden-xs" style="margin-top:20px;margin-bottom:20px;">-->
        <!--<div class="col-sm-4">-->
            <!--<div class="transbox" style="min-height:250px;">-->
                <!--<h3>Place an Order</h3>-->
                <!--<p style="padding-bottom:0px;">Call us on:<br>-->
                    <!--<span style="font-weight:800">0131 332 3621</span>-->
                <!--</p>-->
                <!--<p>Find us at:<br>-->
                 <!--26-32 Deanhaugh Street<br>-->
                 <!--Edinburgh<br>-->
                 <!--EH4 1LY</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="transbox" style="min-height:250px;">-->
                <!--<h3>Set Meals</h3>-->
                <!--<p>See our menu for our delicious selection of set menu options.</p>-->
                <!--<p>There are over 15 main course dishes to choose from with set meal options for between 1 and 4 people.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="transbox" style="min-height:250px;">-->
                <!--<h3>Free Offers</h3>-->
                <!--<p class="middle">Prawn Crackers for Orders Over £15</p>-->
                <!--<p class="middle">Vegetarian Spring Rolls and Prawn Crackers for Orders Over £20</p>-->
                <!--<p>BBQ Spare Ribs OR Chicken Wings with Chilli Salt and Prawn Crackers for Orders Over £30</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; Mobile view &ndash;&gt;-->
    <!--<div class="row visible-xs" style="margin-top:20px;margin-bottom:20px;">-->
        <!--<div class="col-sm-4">-->
            <!--<div class="transbox">-->
                <!--<h3>Place an Order</h3>-->
                <!--<p style="padding-bottom:0px;">Call us on:<br>-->
                    <!--<span style="font-weight:800">0131 332 3621</span>-->
                <!--</p>-->
                <!--<p>Find us at:<br>-->
                 <!--26-32 Deanhaugh Street<br>-->
                 <!--Edinburgh<br>-->
                 <!--EH4 1LY</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="transbox">-->
                <!--<h3>Set Meals</h3>-->
                <!--<p>See our menu for our delicious selection of set menu options.</p>-->
                <!--<p>There are over 15 main course dishes to choose from with set meal options for between 1 and 4 people.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<div class="transbox">-->
                <!--<h3>Free Offers</h3>-->
                <!--<p class="middle">Prawn Crackers for Orders Over £15</p>-->
                <!--<p class="middle">Vegetarian Spring Rolls and Prawn Crackers for Orders Over £20</p>-->
                <!--<p>BBQ Spare Ribs OR Chicken Wings with Chilli Salt and Prawn Crackers for Orders Over £30</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->




         <!-- Desktop view -->
    <div class="row" style="margin-top:20px">
        <div class="col-sm-12">
            <div class="transbox" style="padding-bottom:1px">
                <h3>An Edinburgh favourite</h3>
                <p style="padding-top:3px">Situated in the heart of Stockbridge, Ping On Restaurant has been proudly serving authentic Chinese cuisine since our opening in 1968. Our food is prepared with fresh ingredients by our expert chefs and our staff are friendly and welcoming.</p>
                <p>We are a family friendly restaurant with children's menus and also a private function room available for hire.</p>
                <p>Please call 0131 332 3621 to make your reservation. We also offer takeaway for collection or delivery.</p>
            </div>
        </div>
    </div>











{% endblock %}