{% extends "template.html" %}


{% block top_content %}

    <!--<div id="carousel-example-generic" class="carousel slide" style="margin-bottom:0px;width:960px" data-ride="carousel">-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="4"></li>-->
        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!--<img src="../static/images/banners/temp_prawns.jpeg" alt="">-->

                <!--<img src="../static/images/stock-photo-48806970-two-dishes-with-vegetables-and-seafood.jpg" alt="">-->
                <!--<img src="../static/images/stock-photo-12399297-stir-fried-chicken.jpg" alt="">-->
                <img src="../static/images/banners/stock-photo-32301880-lemon-chicken.jpg" alt="">

                <div class="carousel-caption"></div>
            </div>
        </div>

        <!-- Slide controls -->
        <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--</a>-->
    </div>

{% endblock %}


{% block content %}

    <div class="row" style="margin-top:20px">
        <div class="col-sm-12">
            <div class="transbox" style="padding-bottom:0px">
                <!--<h3>An Edinburgh favourite</h3>-->
                <p style="padding-top:6px">Situated in the heart of Stockbridge, Ping On Restaurant has been proudly serving authentic Chinese cuisine since our opening in 1968. Our food is prepared with fresh ingredients by our expert chefs and our staff are friendly and welcoming.</p>
                <p>We are a family friendly restaurant with children's menus and also a private function room available for hire.</p>
                <p>Please call 0131 332 3621 to make your reservation. We also offer takeaway for collection or delivery.</p>
            </div>
        </div>
    </div>

{% endblock %}